html {
  background-color: bisque;
  background-image: url(https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

body {
  color: bisque;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
nav {
  text-align: center;
  font-size: 1.2em;
}
a {
  text-decoration: none;
  background-color: blueviolet;
  padding-left: 1.2em;
  padding-right: 1.2em;
  color: rgb(230, 197, 236);
  border: 0px;
}
